<p><%= t('.greeting', recipient: @resource.nombre) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.message_unconfirmed', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.message', email: @resource.email) %></p>
<% end %>
