.bundle/
log/*.log
coverage/
pkg/
tmp/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/

*.sublime-workspace

.byebug_history

spec/dummy/app/assets/builds/*

node_modules/

spec/examples.txt
