
body .chosen-container-active.chosen-with-drop .chosen-single {
  background: none;
}
body .chosen-container-single .chosen-single {
  padding-top: 2px;
  border: 1px solid #e5e6e7;
  border: 1px solid #ced4da;
  background: none;
  box-shadow: none;
}

.chosen-container.chosen-with-drop .chosen-drop {
  // margin-top: 0px;
}
.chosen-container-single a.chosen-single {
  height: 36px;
  line-height: 30px;
}
.chosen-container-single .chosen-single div {
    padding-top: 5px;
}
.chosen-container-single .chosen-drop {
  min-width: 190px;
  margin-top: -3px;
}
.chosen-container.chosen-container-single .chosen-single {
  border-radius: 4px;
}
