@import 'pg_rails/pg_chosen';

// Google Maps Places API
// Para que funcione en los modales
.pac-container {
  z-index: 1051 !important;
}

.simple_form {
  .ocultar {
    input, select, textarea {
      display: none;
    }
  }
}
.form-group.asociacion_creable {
  input.oculto {
    visibility: hidden;
    position: absolute;
  }

  &:not(.completado) {
    .borrar_seleccion {
      display: none;
    }
  }
}
// oculto la columna de actions
.modal-seleccionar-asociado .listado th:last-child,
  .modal-seleccionar-asociado .listado td:last-child {
  display: none;
}
.modal-seleccionar-asociado .listado {
  td {
    cursor: pointer;
  }
}
.modal-seleccionar-asociado .listado tr:hover {
  background-color: lightgrey;
}

.listado .btn-xs {
  margin-right: 4px;
}
.listado .btn-sm {
  min-width: 25px;
  height: 25px;
  padding: 1px;
  margin-right: 4px;
}

.form-group.producto {
  .form-control.selectize-control {
    height: 36px;
    // width: 200px;
  }
  .chosen-container {
    // max-width: 200px;
  }
}
// hay que agregar la clase pg-form a los forms que queremos afectar
.pg-form {
  max-width: 1000px;

  .form-control {
    font-size: 13px;
  }

  .form-control.selectize-control {
    height: 36px;
  }
  .form-group {
    /*transition: height .5s ease 0s;*/
    transition: opacity .3s ease 0s;
    opacity: 1;
    max-width: 300px;

    &.datetime {
      max-width: 600px;
    }

    &.dependent_fields {
      max-width: 600px;
    }

    &.ocultar {
      /*height: 0px;*/
      opacity: 0;
    }
  }

  .form-control.error {
    border: 1px solid red;
  }

  label.error {
    color: red;
  }
}

.filter {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  min-width: 200px;

  .input-group {
    width: 230px;
  }
}

.dependent_fields select {
  // width: calc(99% / 2);
  // width: 500px;
  display: block;
  margin-bottom: 15px;
}

.dependent_fields label {
  display: block;
  text-align: left!important;
}

.dependent_fields {
  // max-width: 400px;
}

.btn.exportar:hover {
  cursor: pointer;
}


// Editar en lugar
.editar_en_lugar_v2 {
    cursor: pointer;
    text-decoration: underline dotted lightgrey;
}
.editar_en_lugar_v2::after {
  padding-left: 13px;
  content: '✎';
  opacity: 0;
}
.editar_en_lugar_v2:hover::after {
  opacity: 1;
}

.editar_en_lugar_v2 form {
  display: inline-block!important;
}
.editar_en_lugar_v2 input {
  display: inline-block;
}
.editar_en_lugar_v2 input[type=submit] {
  margin-left: 10px;
}

.pg_ajax_link {
  cursor: pointer;
  color: #337ab7;
  text-decoration: none;
}
.pg_ajax_link:hover {
  color: #23527c;
  text-decoration: underline;
}
