<div>
  Ocurrió algo inesperado
  <br>
  Por favor, intentá nuevamente
  <br>
  o <a class="text-decoration-underline" href="#{new_public_mensaje_contacto_path}">ponete en contacto</a> y pronto lo resolveremos
</div>
