<nav class="navbar navbar-expand-<%= @breakpoint_navbar_expand %>">
  <div class="container-fluid">
    <% unless @sidebar == false %>
      <button data-controller="navbar" data-action="navbar#expandNavbar" class="btn btn-outline-light me-2 d-none d-<%= @breakpoint_navbar_expand %>-inline-block">
        <i class="bi bi-list"></i>
      </button>

      <button class="btn btn-outline-light d-inline-block d-<%= @breakpoint_navbar_expand %>-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-list"></i>
      </button>
    <% end %>
    <%= @navbar.logo if @navbar.logo.present? %>
  </div>
</nav>
