<div class="d-flex justify-content-around">
  <div class="alert alert-danger d-flex align-items-center">
    <div>
      <span class="bi bi-emoji-dizzy fs-1 me-3"></span>
      <%# <span class="bi bi-exclamation-triangle fs-1 me-3"></span> %>
    </div>
    <div>
      <div class="fs-3">Ocurrió algo inesperado</div>
      Por favor, intentá nuevamente
      <br>
      o <a class="text-decoration-underline" href="<%= new_public_mensaje_contacto_path %>">ponete en contacto</a> y pronto lo resolveremos
    </div>
  </div>
</div>
