@use 'sass:color';

@import 'notifications';


:root,
[data-bs-theme=light] {
  --bs-form-invalid-color: #b50000;
  --bs-form-invalid-border-color: #b50000;
}

// Navs
nav[aria-label=breadcrumb] a {
  font-weight: bold;
}

// Toasts
.toast.show {
  display: inline-block;
}

// FORMS

// Radio buttons
.radio_buttons legend {
  font-weight: bold;
}
.radio_buttons label {
  font-weight: normal;
}

// Trix
.is-invalid trix-editor {
  border: 1px solid $red;
}

input[disabled] {
  background-color: #e9e9ed;
  color: black;
}

form label {
  font-weight: bold;
}

select[multiple] {
  height: inherit;
}

input[type=date] {
  max-width: 12em;
}

input[type=datetime-local], input[type=datetime] {
  max-width: 15em;
}

.form-select:not(:has(option)) {
  background-color: #d5d5d5;
}

.form-control.is-invalid, .form-select.is-invalid, .is-invalid trix-editor {
  background-color: #fff3f3;
}

// LISTADOS
.listado {
  td, th {
    padding: 0.25rem 1rem;
  }
}
.listado .actions-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 4px;

  .btn-sm {
    padding: 0em 0.3em;
  }
}

.list-group-item {
  --bs-list-group-item-padding-y: 0.3em;
  --bs-list-group-item-padding-x: 1em;
}

// FILTROS
.filter {
  display: inline-block;
  vertical-align: top;
  // max-width: 17em;
}
.filter.active {
  .form-select, .form-control {
    background-color: #ffb40157;
  }
}

.filter label {
  font-size: 0.8em;
  font-weight: bold;
  max-width: 5em;
  text-align: right;
  line-height: 1.2em;
  vertical-align: middle;
  opacity: 0.5;
  min-width: 1em!important;
  padding-left: 0.5em;
  width: min-content;
}

// Popover
.modal-content, .popover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

// Modal
.modal-content {
  box-shadow: 15px 15px 9px 0px rgba(0, 0, 0, 0.6);
}

// Nested
.link-to-add:hover {
  background-color: #f4f4f4;
}

.link-to-add {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: var(--bs-border-radius);
  padding: 0.6em 0.4em;
}


.navbar {
  @extend .bg-primary;
}

.offcanvas {
  @extend .bg-primary;
}

// Root variables
:root {
  --bs-border-radius-sm: 0.06rem;
  --bs-border-radius: 0.1rem;
  --bs-border-radius-lg: 0.25rem;
  --bs-border-radius-xl: 0.45rem;
  --bs-border-radius-xxl: 0.6rem;
  --bs-border-color: #a7b7bb;
}

// Alerts
.alert-dismissible {
  .btn-close {
    padding: 0.725rem $alert-padding-x;
  }
}

// Switcher (ver switcher_controller.js)
.switcher > * {
  display: none;
}

// Flash
#flash .alert {
  box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.5);
}

// Full calendar
.fc .fc-highlight {
	background-color: #{tint-color($primary, 60%)};
}
.fc-daygrid-day-top a {
  text-decoration: none;
}
.fc-col-header-cell a {
  text-decoration: none;
}
.fc-multimonth {
  .fc-daygrid-day-events {
    xdisplay: none;
    visibility: hidden;
  }
  .fc-daygrid-day-top {
    display: inline-block;
    height: 100%;
  }
  td, th {
    vertical-align: middle;
    text-align: center;
    border: none;
  }
  td.fc-day-today {
    border: 1px solid black;
  }
  .fc-daygrid-day-number {
    cursor: default;
  }
  --fc-neutral-bg-color: none;
}

// Inline edit

.inline-edit {
  // text-decoration: underline;
  // text-decoration-style: dotted;
  // text-decoration-color: #262626;

  a:hover {
    i {
      color: black;
    }
  }

  input[type=text] {
    min-width: 22em;
  }
}
