.form-group {
  /*transition: height .5s ease 0s;*/
  transition: opacity .3s ease 0s;
  opacity: 1;
  max-width: 300px;

  &.ocultar {
    /*height: 0px;*/
    opacity: 0;
  }
}

.filter {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  min-width: 200px;
}

.dependent_fields select {
  // width: calc(99% / 2);
  // width: 500px;
  display: block;
  margin-bottom: 15px;
}

.dependent_fields label {
  display: block;
  text-align: left!important;
}

.dependent_fields {
  // max-width: 400px;
}

