---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/fakeapp.com.ar/events?begin=1715010162&end=1715096562&limit=300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [
            {
              "timestamp": 1715014542.2477064,
              "recipient-domain": "fakemail.com",
              "ip": "66.102.8.333",
              "event": "opened",
              "recipient-provider": "fakemail",
              "id": "mfq1JhfwSUivy3123JgWgXznBQ",
              "campaigns": [],
              "log-level": "info",
              "tags": [],
              "client-info": {
                "client-name": "fakemailImageProxy",
                "client-os": "Windows",
                "user-agent": "Mozilla/5.0 (Windows NT 5.1; rv:11.0) Gecko Firefox/11.0 (via ggpht.com GoogleImageProxy)",
                "bot": "",
                "client-type": "unknown",
                "device-type": "desktop"
              },
              "geolocation": {
                "country": "US",
                "region": "NJ",
                "city": "Saddle River",
                "timezone": "America/New_York"
              },
              "message": {
                "headers": {
                  "message-id": "66352755e7cb8_52d881510815c1@fakeapp2024.mail"
                }
              },
              "recipient": "natprobel@fakemail.com",
              "user-variables": {}
            },
            {
              "recipient-provider": "Google Workspace",
              "user-variables": {},
              "timestamp": 1715014847.394108,
              "tags": [],
              "log-level": "info",
              "campaigns": [],
              "id": "yLcfdkMvTYq-hFH_dFDOLQ",
              "recipient-domain": "ofesso.com.ar",
              "ip": "66.102.8.228",
              "client-info": {
                "bot": "",
                "client-name": "fakemailImageProxy",
                "device-type": "desktop",
                "client-os": "Windows",
                "client-type": "unknown",
                "user-agent": "Mozilla/5.0 (Windows NT 5.1; rv:11.0) Gecko Firefox/11.0 (via ggpht.com GoogleImageProxy)"
              },
              "recipient": "administracion@ofesso.com.ar",
              "event": "opened",
              "message": {
                "headers": {
                  "message-id": "6634fd8f6f0b2_48a0b14ec456338@fakeapp2024.mail"
                }
              },
              "geolocation": {
                "city": "Saddle River",
                "region": "NJ",
                "timezone": "America/New_York",
                "country": "US"
              }
            },
            {
              "event": "accepted",
              "recipient": "juan@example.com",
              "originating-ip": "190.111.444.222",
              "recipient-domain": "fakemail.com",
              "id": "QvIBBkQmStuOjktTLkQzuA",
              "tags": null,
              "timestamp": 1715027741.704073,
              "storage": {
                "region": "us-west1",
                "env": "production",
                "key": "BAABAQWFWGMif97Z5cZO4p-cef7kYU_qZQ",
                "url": "https://storage-us-west1.api.mailgun.net/v3/domains/fakeapp.com.ar/messages/BAABAQWFWGMif97Z5cZO4p-cef7kYU_qZQ"
              },
              "envelope": {
                "sender": "testing@fakeapp.com.ar",
                "transport": "smtp",
                "targets": "juan@example.com"
              },
              "log-level": "info",
              "user-variables": {},
              "method": "SMTP",
              "api-key-id": "postmaster@fakeapp.com.ar",
              "message": {
                "size": 6215,
                "headers": {
                  "subject": "La cosa por mail",
                  "message-id": "66393f1bc7d4_47a5108ec1628f@notebook.mail",
                  "from": "PgRails <testing@fakeapp.com.ar>",
                  "to": "juan@example.com"
                },
                "attachments": [
                  {
                    "size": 4390,
                    "content-type": "image/png",
                    "filename": "footer-mail-dark-light.png"
                  },
                  {
                    "size": 294,
                    "content-type": "application/json",
                    "filename": "cosa_31.json"
                  }
                ]
              },
              "flags": {
                "is-authenticated": true,
                "is-test-mode": false
              }
            },
            {
              "event": "delivered",
              "campaigns": [],
              "recipient": "juan@example.com",
              "recipient-domain": "fakemail.com",
              "id": "BDfMEgMIR1S8gstkDgb80Q",
              "tags": [],
              "timestamp": 1715027742.6347377,
              "delivery-status": {
                "mx-host": "fakemail-smtp-in.l.google.com",
                "session-seconds": 0.915,
                "attempt-no": 1,
                "code": 250,
                "description": "",
                "certificate-verified": true,
                "tls": true,
                "enhanced-code": "",
                "message": "OK",
                "utf8": true
              },
              "storage": {
                "region": "us-west1",
                "env": "production",
                "key": "123123-cef7kYU_qZQ",
                "url": "https://mailgun.net/v3/domains/fakeapp.com.ar/messages/123123-cef7kYU_qZQ"
              },
              "envelope": {
                "sender": "testing@fakeapp.com.ar",
                "transport": "smtp",
                "sending-ip": "111.61.151.246",
                "targets": "juan@example.com"
              },
              "log-level": "info",
              "user-variables": {},
              "message": {
                "size": 6215,
                "headers": {
                  "subject": "La cosa por mail",
                  "message-id": "66393f1bc7d4_47a5108ec1628f@notebook.mail",
                  "from": "PgRails <testing@fakeapp.com.ar>",
                  "to": "juan@example.com"
                },
                "attachments": [
                  {
                    "size": 4390,
                    "content-type": "image/png",
                    "filename": "footer-mail-dark-light.png"
                  },
                  {
                    "size": 294,
                    "content-type": "application/json",
                    "filename": "cosa_31.json"
                  }
                ]
              },
              "recipient-provider": "fakemail",
              "flags": {
                "is-authenticated": true,
                "is-system-test": false,
                "is-routed": false,
                "is-test-mode": false
              }
            },
            {
              "campaigns": [],
              "ip": "74.125.216.65",
              "recipient-provider": "fakemail",
              "recipient-domain": "fakemail.com",
              "recipient": "juan@example.com",
              "log-level": "info",
              "id": "GYvaGVSRRWKj4FOgaUyffg",
              "event": "opened",
              "tags": [],
              "client-info": {
                "client-o[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/fakeapp.com.ar/events?begin=1714923762&end=1715010162&limit=300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [],
          "paging": {
          }
        }
  recorded_at: Tue, 07 May 2024 15:42:45 GMT
recorded_with: VCR 6.2.0
