.row
  .col
    a href="javascript:void(0)" data-controller="tooltip" data-bs-title="Las cosas" el tooltip hover
    br
    a[href="javascript:void(0)" data-controller="tooltip" data-bs-trigger="contextmenu"
      data-bs-title="Las cosas"] el tooltip context
  .col
    div data-controller="cosa"
      = link_to 'Fade in', 'javascript:void(0)', 'data-action': 'cosa#doFadeIn'
      | &nbsp;&nbsp;
      = link_to 'Fade out', 'javascript:void(0)', 'data-action': 'cosa#doFadeOut'
      h1.init-invisible Fade INN

table.table.table-borderless.table-sm.w-auto.mb-0
  - atributos_para_mostrar.each do |att|
    tr
      th = @clase_modelo.human_attribute_name(att)
      td = @categoria_de_cosa.send(att)
  tr
    th = t('attributes.creado_por')
    td = @categoria_de_cosa.creado_por
  tr
    th = t('attributes.created_at')
    td = @categoria_de_cosa.created_at
  tr
    th = t('attributes.actualizado_por')
    td = @categoria_de_cosa.actualizado_por
  tr
    th = t('attributes.updated_at')
    td = @categoria_de_cosa.updated_at
  tr
    th = t('attributes.discarded_at')
    td = @categoria_de_cosa.discarded_at

.mt-3.mb-3
  = embed_index(@categoria_de_cosa, :cosas)
