@use 'sass:color';

// TODO: Quitar .pg-form?
.pg-form {
  .pg_associable {
    .limpiar {
      display: none;
      position: absolute;
      right: 0.6em;
      top: 0;
      bottom: 0;

      i {
        align-self: center;
        color: #6f7071;
      }
    }
    .pencil {
      display: flex;
      position: absolute;
      right: 0.6em;
      top: 0;
      bottom: 0;
      color: #6f7071;
      cursor: pointer;
    }
    .pencil::before {
      align-self: center;
    }
    &.focus .pencil {
      display: none;
    }
    input[type=text] {
      background-color: #{$body-bg};
      padding-right: 2em;
    }
    &.filled {
      .pencil {
        display: none;
      }
      .limpiar {
        display: flex;
      }
      .resultados-wrapper {
        display:none!important;
      }
    }
    .resultados-wrapper {
      display: none;
      position: relative;
    }
    &:focus-within {
      &:has(.resultados) {
        input[type=text] {
          border-bottom-left-radius: 0!important;
          border-bottom-right-radius: 0!important;
          &:focus, &:focus-visible {
            outline: none!important;
          }
        }
      }
      .resultados-wrapper {
        display: block;
      }
    }
  }
}
// .modal-asociable {
//   .buscar input[type=text] {
//     max-width: 180px;
//   }
//   .resultados {
//     margin-top: 16px;
//     border: 1px solid #c8c8c8;
//   }
// }
.resultados {
  .list-group-item:hover {
    background-color: color.adjust(#a7b7bb, $saturation: +10%, $lightness: +20%);
  }
}
.sub-wrapper {
  overflow: auto;
  box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.5);
  // position: absolute;
  // z-index: 1;
  background-color: #{$body-bg};
  border: 1px solid #a7b7bb;
  border-top: none;
  border-radius: 4px;
  padding: 5px 11px;
  width: 100%;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-asociable .modal-footer {
  justify-content: space-between;
}
